/* style.css */

/* Reset default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
}

.Logo img {
    height: 50px;
    margin-left: 100px;
}

.Nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav-links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.Nav-links ul li {
    margin-right: 20px;
    padding: 20px;
}

.Nav-links ul li a, .author h3, .report_head {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "Hind Kochi", sans-serif;
}

.Nav-links ul li a:hover {
    color: red;
}

.filter-icon {
    margin-right: 40px;
}

.author{
    margin-right: 100px;
}

.author h3{
    font-weight: normal;
    text-transform: capitalize;
}
/* Homepage styles */
#homepage, 
#report-homepage, 
#index-homepage,
#about-homepage, 
#contact-homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
}

#report-homepage,
#about-homepage{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}
#team-homepage{
    margin-top: 6%;
    color: #000;
    margin-bottom: 6%;
}
#index-homepage{
    margin-top: 15%;
    margin-bottom: 10%;
}
#contact-homepage{
    margin-left: 0;
    margin-right: 0;
    margin-top: 7%;
}
.Left-side {
    text-align: left;
    color: white;
    padding: 20px;
    margin: 144px,494px;
}

.Left-side h1 {
    font-size: 48px;
    line-height: auto;
    margin-bottom: 20px;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.Left-side button, 
.Nav-links ul li button, 
.contact-form-btn, 
.read-more {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    background-color: black;
    border: none;
    cursor: pointer;
}
.Nav-links ul li button{
    width: 200px;
}

#contact{
    margin-left: 70px;
}
.Left-side button:hover, 
.Nav-links ul li button:hover, 
.read-more:hover, 
.contact-form-btn {
    background-color: red;
}

.map {
    position: relative;
    width: 700px;
    height: 400px;
    position: static;
  
}

.map img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

/* Animation on page load */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#homepage, 
#report-homepage, 
#index-homepage, 
#contact-homepage,
#about-homepage,
#team-homepage {
    animation: fadeIn 1s ease-in-out;
}

.report-home{
    margin-top: 15%;
}
/* CSS styles for the statistics section */
#statistics {
    margin-top: 50px;
    text-align: center;
}

#statistics h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#chart-container {
    width: 100%;
    height: 400px;
}

.report_container{
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
}

.all_reports{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: left;
    width: 95%;
    margin-top: 60px;
}

.report {
    width: 300px;
    padding: 10px;
    border: solid 2px rgb(171, 167, 167);
}
.report img{
    width: 280px;
    height: 225px;
}

.report_head_container{
    margin-top: -50px;
}
.report_form, .signin_form, .signup_form{
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 600px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
.flash ul{
    list-style-type: none;
    align-self: center;
    text-align: center;
}

.flash-message, .flash-message-green{
    color: red;
    list-style-type: none;
    text-align: center;
    margin-left: -10px;
}

.flash-message-green{
    color: green;
}

.signin_form form{
    margin-top: -100px;
}
.report_form{
    align-self: center;
}
form{
    align-self: center;
    text-align: center;
}
.fill{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.fill .input{
    height: 35px;
    width: 300px;
    align-self: flex-end;
}
input, textarea {
    right: 0;
}
.fill textarea{
    width: 300px;
    height: 100px;
    align-self: flex-end;
}

#footer{
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    padding: 0;
    margin: 0;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin: 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 1s;
}

.socialIcons a:hover i {
    color: white;
    transition: 1s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 1s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.contact-section{
    width: 100%;
    height: 100vh;
    align-items: center;
    /*background-color: #8e2de2;*/
}

.contact-in{
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
}

.contact-form h1{
    margin-bottom: 10px;
    text-align: center;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder, .contact-form-textarea::placeholder{
    color: #aaa;
}
.contact-form-textarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-btn{
    width: 100%;
    cursor: pointer;
}


.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1, .team-section h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after, .team-section h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #000;
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 1s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content .read-more{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.read-more:hover{
    color: white;
}

.team-section{
    overflow: hidden;
    text-align: center;
    padding: 60px;
}
.team-section h1{
    margin-bottom: 60px;
    color: #000;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 4px;
    background: #000;
    margin-bottom: 40px;
}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s all;
}
.ps a:hover > img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: black;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
}



@media (max-width: 768px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}