/* style.css */

/* Reset default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
}

.Logo img {
    height: 50px;
    margin-left: 100px;
}

.Nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav-links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.Nav-links ul li {
    margin-right: 20px;
    padding: 20px;
}

.Nav-links ul li a, .author h3, .report_head {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "Hind Kochi", sans-serif;
}

.Nav-links ul li a:hover {
    color: red;
}

.filter-icon {
    margin-right: 40px;
}

.author{
    margin-right: 100px;
}

.author h3{
    font-weight: normal;
    text-transform: capitalize;
}
/* Homepage styles */
#homepage, 
#report-homepage, 
#index-homepage,
#about-homepage, 
#contact-homepage,
#mission-homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 8%;
    margin-right: 8%;
    position: relative;
}

#footer{
    margin-top: 6%;
}

#report-homepage,
#about-homepage{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

#report-homepage .report_container{
    display: flex;
    flex-direction: row;
}
#mission-homepage{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
#team-homepage{
    margin-top: 4%;
    color: #000;
}
#index-homepage{
    margin-top: 15%;
    margin-bottom: 10%;
}
#contact-homepage{
    margin-left: 0;
    margin-right: 0;
    margin-top: 7%;
}
.Left-side {
    text-align: left;
    color: white;
    padding: 20px;
    margin: 144px,494px;
}

.Left-side h1 {
    font-size: 48px;
    line-height: auto;
    margin-bottom: 20px;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.Left-side button, 
.Nav-links ul li button, 
.contact-form-btn, 
.read-more {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    background-color: black;
    border: none;
    cursor: pointer;
}
.Nav-links ul li button{
    width: 200px;
}

#contact{
    margin-left: 70px;
}
.Left-side button:hover, 
.Nav-links ul li button:hover, 
.read-more:hover, 
.contact-form-btn:hover {
    background-color: red;
}

.map {
    position: relative;
    width: 700px;
    height: 400px;
    position: static;
  
}

.map iframe, .map img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

/* Animation on page load */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#homepage, 
#report-homepage, 
#index-homepage, 
#contact-homepage,
#about-homepage,
#team-homepage {
    animation: fadeIn 1s ease-in-out;
}

.report-home{
    margin-top: 15%;
}
/* CSS styles for the statistics section */
#statistics {
    margin-top: 50px;
    text-align: center;
}

#statistics h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#chart-container {
    width: 100%;
    height: 400px;
}

.report_container{
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
}

.all_reports{
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: left;
    width: 95%;
    margin-top: 60px;
}

.report {
    width: 300px;
    padding: 10px;
    border: solid 2px rgb(171, 167, 167);
}
.report img{
    width: 280px;
    height: 225px;
}

.report_head_container{
    margin-top: -50px;
}
.report_form, .signin_form, .signup_form{
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 600px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
.flash ul{
    list-style-type: none;
    align-self: center;
    text-align: center;
}

.flash-message, .flash-message-green{
    color: red;
    list-style-type: none;
    text-align: center;
    margin-left: -10px;
}

.flash-message-green{
    color: green;
}

.signin_form form{
    margin-top: -100px;
}
.report_form{
    align-self: center;
}
form{
    align-self: center;
    text-align: center;
}
.fill{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.fill .input{
    height: 35px;
    width: 300px;
    align-self: flex-end;
}
input, textarea {
    right: 0;
}
.fill textarea{
    width: 300px;
    height: 100px;
    align-self: flex-end;
}

#footer{
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    padding: 0;
    margin: 0;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin: 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 1s;
}

.socialIcons a:hover i {
    color: white;
    transition: 1s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 1s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.contact-section{
    width: 100%;
    height: 100vh;
    align-items: center;
    /*background-color: #8e2de2;*/
}

.contact-in{
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
}

.contact-form h1{
    margin-bottom: 10px;
    text-align: center;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder, .contact-form-textarea::placeholder{
    color: #aaa;
}
.contact-form-textarea {
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-btn{
    width: 100%;
    cursor: pointer;
}


.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1, .team-section h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after, .team-section h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #000;
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 1s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content .read-more{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
.read-more:hover{
    color: white;
}

.team-section{
    overflow: hidden;
    text-align: center;
    padding: 60px;
}
.team-section h1{
    margin-bottom: 60px;
    color: #000;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 4px;
    background: #000;
    margin-bottom: 40px;
}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s all;
}
.ps a:hover > img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: black;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
}



@media (max-width: 768px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}

.articles{
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15%;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    padding: 25px;
}

.article-body p{
    text-align: justify;
}
article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}
  
  /* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    /*font-family: "Montserrat", sans-serif;*/
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    height: 100px;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }

  .sdgs{
    display: flex;
    align-self: center;
  }

  .sdgs img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .sdgs img:hover{
    transform: scale(1.2);
    transition: 1s;
  }

  .do-you{
    text-align: center;
  }
  .join-us{
    text-align: center;
    align-self: center;
  }
  
  @media screen and (max-width: 960px) {
    article {
      width: 100%;
      max-width: none;
    }
  
  
    .article-body p {
      display: none;
    }
  }
  
  @media (min-width: 380px) {
    .card-container {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
  
  
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  
  #report_homepage{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
    align-items: center;
  }

  #report_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 5px;

  }

  #report_container .card:first-child,
  #report_container .card:first-child img{
    height: 570px;
    width: 690px;
    grid-area: 1 / 1 / span 2 / span 2;
  }

  .card{
    height: 273px;
    width: 345px;
    overflow: hidden;
    margin: 8px;
    border-radius: 0px;
  }
  .card img{
    height: 273px;
    width: 345px;
    transition: .5s;
    filter: brightness(50%)
  }

  .intro{
    height: 80px;
    width: 308.5px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20%;
    left: 3%;
    /*background: rgb(27, 27, 27, .5);*/
    color: white;
    transition: .5s;
  }

  .intro h1{
    font-size: 25px;
  }

  .intro h3{
    font-size: 14px;
    text-transform: uppercase;
  }

  .intro h3 span{
    color: red;
    font-size: 20px;
  }

  .intro p{
    font-size: 18px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
  }

  .intro span{
    font-weight: bold;
  }

  #report_container .card:first-child .intro {
    height: 120px;
  }

  #report_container .card:first-child .intro h1 {
    font-size: 40px;
  }

  #report_container .card:first-child .intro h3 {
    font-size: 28px;
  }

  #report_container .card:first-child .intro span {
    font-size: 40px
  }

  .card:hover{
    cursor: pointer;
  }

  .card:hover .intro{
    height: auto;
    max-height: 240px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  .card:hover .intro p{
    opacity: 1;
    visibility: visible;
  }

  .card:hover img{
    transform: scale(1.1) rotate(-3deg);
    opacity: 1;
    filter: brightness(100%);
  }

  .card:hover .intro h3{
    visibility: hidden;
  }

  #report_container .card:first-child .intro p {
    height: auto;
    max-height: 70%;
  }