@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
html{
    background: #000;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    z-index: 1000;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .logo h1 {
    font-size: 20px;
    color: #00c5cb;
    margin: 0 10px;
    cursor: pointer;
}

.navbar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu a {
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
}

.navbar .nav-menu a:hover {
    color: #00c5cb;
}

.navbar .nav-menu a.active {
    color: #00c5cb;
}

.navbar .logout{
    width: 100px;
    height: 35px;
    color: #fff;
    background: #00c5cb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .logout a{
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#home{
    background: url("l4.jpg") no-repeat center center / cover;
    width: 100%;
    height: 35vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#home .inner h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}
#home .inner p{
    color: #fff;
    font-size: 20px;
}


#posts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000;
    align-items: center;
    padding-top: 50px;
}
#posts h2{
    margin-bottom: 50px;
    font-weight: 400;
}
#posts .inner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    margin-top: 30px;
}

#posts .inner .post{
    width: 350px;
    height: 400px;
    background: rgb(31, 31, 31);
    margin: 10px;
    border-radius: 15px;
}
#posts .inner .post img{
    top: 0;
    width: 100%;
    height: 45%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#posts .inner .post h3{
    font-size: 20px;
    color: #fff;
    margin: 10px 20px;
    margin-bottom: 0;
    height: 5%;
    overflow: hidden;
}
#posts .inner .post p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.852);
    margin: 10px 20px;
    height: 20%;
    overflow: hidden;
}
#posts .inner .post h4{
    font-size: 16px;
    text-transform: uppercase;
    color: #00c5cb;
    margin: 10px 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 20px 20;
    margin-top: 22px;
}
#posts .inner .post h4 a{
    text-decoration: none;
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
}
#posts .search-bar,
#events .search-bar{
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00c5cb;
    border-radius: 5px;
}

#posts .search-bar input,
#events .search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px 20px;
}
#posts .search-bar button,
#events .search-bar button {
    width: 15%;
    height: 100%;
    top: 0;
    background: black;
    border-radius: 5px;
}


#events {
    width: 100%;
    height: auto;
    padding-top: 50px;
    margin-top: 50px;
    background: black;
    display: flex;
    justify-content: center;
}

#no-event {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 50px;
    color: #eee;
}

#events .events-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
}

#events .events-inner h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #fff;
}

#events .events-inner h2 span {
    color: #00c5cb;
}

#events .events {
    position: relative;
    width: 70%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

#events .events ul {
    /*position: absolute;*/
    /*transform: translateY(-50%);*/
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}

#events .events-inner .events ul li {
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
    transition: .5s;
}

#events .events-inner .events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

#events .events ul li .time h2 span {
    color: white;
}

#events .events ul li .time:hover {
    background: #00c5cb;
}

#events .events ul li .time:hover h2 {
    color: black;
}

#events .events ul li .time:hover h2 span {
    color: black;
}

#events .events ul li .time h2 {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    line-height: 30px;
    transition: .5s;
}

#events .events-inner .events ul li .time h2 span {
    font-size: 30px;
    transition: .5s;
}

#events .events ul li .details {
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#events .events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #000;
}

#events .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    color: #000;
}

#events  .events ul li .details a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: .5s;
    width: 140px;
    display: flex;
    justify-content: center;
}

#events .events ul li .details a:hover {
    transform: scale(1.1);
}



#footer {
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    padding: 0;
    margin: 0;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin: 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 1s;
}

.socialIcons a:hover i {
    color: white;
    transition: 1s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 1s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}