{% extends 'base.html' %}

{% block title %}Helmet App - Home{% endblock %}

{% block content %}

<section id="about-homepage">

    <div class="heading">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vel exercitationem quis harum ducimus officia voluptas ipsum praesentium possimus consequuntur.
        </p>
    </div>

    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/static/images/startup.jpg" alt="">
            </div>

            <div class="about-content">
                <h2>Warm embrace in a cup</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit, quidem illum sunt iusto maiores eius velit quos incidunt. Ipsum mollitia perferendis ipsam quod modi! Delectus quasi commodi aut rem placeat nisi quia facere voluptas magni hic error, nulla fugit iusto obcaecati culpa impedit. Veniam deleniti assumenda non debitis similique.
                </p>
                <a href="" class="read-more">READ MORE</a>
            </div>
        </section>
    </div>
</section>

<section id="team-homepage">
    <div class="team-section">
        <div class="heading">
            <h1>Our Team</h1>
        </div>
        <!--<h1>Our Team</h1>-->
        <div class="ps">
            <a href="#p1"><img src="/static/images/zatey.jpg" alt=""></a>
            <a href="#p2"><img src="/static/images/mina.jpg" alt=""></a>
            <a href="#p3"><img src="/static/images/zatey.jpg" alt=""></a>
        </div>
    </div>

    <div class="section" id="p1">
        <span class="name">Jimmy Essel</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore nesciunt enim iusto iure, repellendus nisi omnis nulla voluptas! Amet.</p>

    </div>

    <div class="section" id="p2">
        <span class="name">Wilhelmina Asante</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore nesciunt enim iusto iure, repellendus
            nisi omnis nulla voluptas! Amet.</p>
    
    </div>

    <div class="section" id="p3">
        <span class="name">Michael Zatey</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore nesciunt enim iusto iure, repellendus
            nisi omnis nulla voluptas! Amet.</p>
    
    </div>
</section>

<section id="mission-homepage">

    <div class="heading">
        <h1>Our Focus</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vel exercitationem quis harum ducimus
            officia voluptas ipsum praesentium possimus consequuntur.
        </p>
    </div>

    <div class="container">
        <section class="about">
            <div class="about-content">
                <h2>Mission Statement</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit, quidem illum sunt
                    iusto maiores eius velit quos incidunt. Ipsum mollitia perferendis ipsam quod modi! Delectus quasi
                </p>

                <h2>Vision Statement</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum reprehenderit, quidem illum sunt
                    iusto maiores eius velit quos incidunt. Ipsum mollitia perferendis ipsam quod modi! Delectus quasi
                </p>
            </div>

            <div class="about-image">
                <img src="/static/images/mission-vs-vision-statement.jpg" alt="">
            </div>
        </section>
    </div>
</section>
{% endblock %}
