{% extends 'base.html' %}

{% block title %}Helmet App - Home{% endblock %}

{% block content %}

<section id="about-homepage">

    <div class="heading">
        <h1>About Us</h1>
        <p>Helmet is a platform designed for people share news and events in thier local. A place to learn about what is going on in your neighbourhood.
        </p>
    </div>

    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/static/images/startup.jpg" alt="">
            </div>

            <div class="about-content">
                <h2>Warm embrace in a cup</h2>
                <p>We believe that the heart of any community lies in its ability to come together and share stories, news, and events that shape our neighborhoods. Just like a comforting cup of your favorite beverage, Helmet provides a space where you can immerse yourself in the pulse of your local area.
                </p>
                <a href="" class="read-more">READ MORE</a>
            </div>
        </section>
    </div>
</section>

<section id="team-homepage">
    <div class="team-section">
        <div class="heading">
            <h1>Our Team</h1>
        </div>
        <!--<h1>Our Team</h1>-->
        <div class="ps">
            <a href="#p1"><img src="/static/images/zatey.jpg" alt=""></a>
            <a href="#p2"><img src="/static/images/mina.jpg" alt=""></a>
            <a href="#p3"><img src="/static/images/zatey.jpg" alt=""></a>
        </div>
    </div>

    <div class="section" id="p1">
        <span class="name">Jimmy Essel</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore nesciunt enim iusto iure, repellendus nisi omnis nulla voluptas! Amet.</p>

    </div>

    <div class="section" id="p2">
        <span class="name">Wilhelmina Asante</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore nesciunt enim iusto iure, repellendus
            nisi omnis nulla voluptas! Amet.</p>
    
    </div>

    <div class="section" id="p3">
        <span class="name">Michael Zatey</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore nesciunt enim iusto iure, repellendus
            nisi omnis nulla voluptas! Amet.</p>
    
    </div>
</section>

<section id="mission-homepage">

    <div class="heading">
        <h1>Our Focus</h1>
        <p>At Helmet, our unwavering focus is to provide you with a platform that not only informs but also inspires and unites. Together, let's celebrate the richness of our communities, share our stories, and work towards creating a brighter future, one neighborhood at a time.
        </p>
    </div>

    <div class="container">
        <section class="about">
            <div class="about-content">
                <h2>Mission Statement</h2>
                <p>Our mission at Helmet is to empower individuals and strengthen communities by providing a platform for sharing local news and events. We are dedicated to fostering a sense of connection and belonging, where neighbors can come together, learn from one another, and actively participate in shaping the future of their neighborhoods.

                    We believe that every community has a unique story to tell, and by amplifying those voices, we aim to create a space where local news and events thrive. Our mission is to be a reliable source of information, delivering timely updates and stories that reflect the diverse tapestry of our neighborhoods.
                </p>

                <h2>Vision Statement</h2>
                <p>Our vision at Helmet is to create a world where every neighborhood is a thriving, interconnected community, where people are actively engaged, informed, and inspired by the local news and events that shape their lives.

                    We envision a future where Helmet serves as the go-to platform for individuals seeking to connect with their neighbors, share stories, and stay informed about what's happening in their local area. Through our platform, we strive to foster a sense of belonging, where individuals feel a deep connection to their community and actively contribute to its growth and well-being.
                </p>
            </div>

            <div class="about-image">
                <img src="/static/images/mission-vs-vision-statement.jpg" alt="">
            </div>
        </section>
    </div>
</section>
{% endblock %}
