<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/helmet.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/myposts.css">
    <title>My Posts</title>

    <style type="text/css">
        .btn-success{
            background: #00c5cb;
            border: none;
        }
        .plus-btn{
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            background: #333;
            border-radius: 50%;
        }
        .plus-btn a i{
            font-size: 50px;
            background: #333;
            border-radius: 50%;            
        }
        #no-result-found{
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="/static/images/helmet.png" style="width: 50px; height: 50px; border-radius: 50%;" alt="">
            <h1 style="color: white;">HELMET</h1>
        </div>
        <div class="nav-menu">
            <a href="/author/{{author[2]}}" class="navlinks">HOME</a>
            <a href="#events" class="navlinks">EVENTS</a>
            <a href="/{{author[2]}}/report" class="navlinks active">MY POSTS</a>
        </div>
    
        <div class="logout">
            <a href="/">LOGOUT</a>
        </div>
    </div>

    <div id="posts">
        <h2 style="color: #fff;">Here are some latests updates for you</h2>
        <div class="search-bar">
            <form action="{{ url_for("user_myevents", username=author[2]) }}" method="post" class="search-bar">
                <input type="text" placeholder="search for post" name="q" id="q">
                <button type="submit" id="searchbtn"><i class="fa-solid fa-magnifying-glass" style="color: #00c5cb;"></i></button>
            </form>
        </div>
        
        {% if not reports %}
            <h2 style="color: #fff; font-size: 30px; margin-top: 30px; margin-bottom: 0;"><span style="color: #00c5cb;">ACTIVE</span> POSTS</h2>
            <h4 class="no_result" id="no-result-found">No result found</h4>
            <div class="inner">
                <div class="plus-btn" id="create_new_post">
                    <a href="#create_post">
                        <i class="fa-solid fa-plus" style="color: #00c5cb;"></i>
                    </a>
                </div>
            </div>
            
        {% else %}
            <div class="inner">
                {% for report in reports %}
                <div class="post">
                    {% if report[4] == '' %}
                        <img src="/static/images/sun1.jpg" alt="">
                    {% else %}
                        <img src="/static/images/{{report[4]}}" alt="">
                    {% endif %}
                
                    <h3>{{report[1]}}</h3>
                    <p>{{report[3]}}</p>
                    <h4><span><a href="/post/{{report[0]}}">read more</a></span><br>
                        <div class="edit_del">
                            <div class="edit">
                                
                                <a href="/edit_post/{{report[0]}}"><i class="fa-solid fa-pen-to-square" style="color: #00c5cb;"></i></a>
                                
                                {% block modal %}{% endblock %}
                            </div>
                            <div class="del">
                                <a href="/del_post/{{report[0]}}"><i class="fa-solid fa-trash-can" style="color: #00c5cb;"></i></a>
                                {% block delete %}{% endblock %}
                            </div>
                        </div>
                    </h4>
                </div>
                {% endfor %}

                <div class="plus-btn" id="create_new_post">
                    <a href="#create_post">
                        <i class="fa-solid fa-plus" style="color: #00c5cb;"></i>
                    </a>
                </div>
            </div>
            
        {% endif %}     
    </div>

    <div id="create_post" class="create_post">

        <div class="signup-inner">
            <div class="form">
                <h1><span>Add</span> Post</h1>
                <h2>What is happening?</h2>
                <form action="{{ url_for("report", username=author[2]) }}" method="post" enctype="multipart/form-data"
                    class="form-signup">
                    <!---Title--->
                    <input type="text" class="form-control" name="title" placeholder="Title" required>
                
                    <!---location-->
                    <input type="text" class="form-control" name="location" placeholder="Affected Locality" required>
                
                    <!---description-->
                    <textarea class="form-control" name="description" placeholder="Description" required></textarea>
                
                    <!-- image -->
                    <input type="file" class="form-control btn-success btn-block img-btn" name="file" value="Image" autocomplete="off" required>
                
                    <!---video link-->
                    <input type="text" class="form-control" name="video" placeholder="Link to video">
                
                    <!--- Submit --->
                    <input type="submit" class="btn btn-success btn-block submit-btn" name="" value="Log Report" id="submit-button">
                
                </form>
                </div>
        </div>
    </div>

    <div id="events">
        <div class="events-inner">
            <h2><span>UPCOMING</span> EVENTS</h2>
    
            <div class="events">
                {% if events %}
                <ul>
                    {% for event in events %}
                    <li>
                        <div class="time">
                            <h2>{{event[8][:2]}}<br><span>{{event[7]}}</span></h2>
                        </div>
                        <div class="details">
                            <h3>{{event[1]}}</h3>
                            <p>{{event[3]}}</p>
                            <div class="bottom_row">
                                <a href="/register_event">Register</a>
                                <div class="edit_del">
                                    <div class="edit">
                                        <a href="/edit_event/{{event[0]}}">Edit</a>
                                        {% block editevent %}{% endblock %}
                                    </div>
                                    <div class="del">
                                        <a href="/del_event/{{event[0]}}">Del</a>
                                        {% block deleteevent %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div style="clear: both;"></div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p id="no-event" style="color: #212529; text-transform: none; font-size: 24px;">No events scheduled</p>
                {% endif %}
                <div class="plus-btn" style="margin-left: -75px;">
                    <a href="#create_event" id="create_new_event">
                        <i class="fa-solid fa-plus" style="color: #00c5cb;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="create_event" class="create_event">
        <div class="signup-inner">
            <div class="form">
                <h1><span>Shedule</span> Event</h1>
                <h2>Create an event.</h2>
                <form action="{{ url_for("add_event", username=author[2]) }}" method="post" enctype="multipart/form-data"
                    class="form-signup">
                    <!---Title--->
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Title" required>
                    </div>
                
                    <!---location-->
                    <div class="form-group">
                        <input type="datetime-local" class="form-control" name="datetime" placeholder="Date" required>
                    </div>
                
                
                    <!---description-->
                    <div class="form-group">
                        <textarea class="form-control" name="description" placeholder="Description" required></textarea>
                    </div>
                
                    <!---organizer--->
                    <div class="form-group">
                        <input type="text" class="form-control" name="organizer" placeholder="Organizer" required>
                    </div>
                
                    <!---location-->
                    <div class="form-group">
                        <input type="text" class="form-control" name="location" placeholder="Location">
                    </div>
                
                    <!-- image -->
                    <div class="form-group">
                        <input type="file" class="form-control btn-success btn-block img-btn" name="file" value="Image"
                            autocomplete="off" required>
                    </div>
                
                    <!--- Submit --->
                    <input type="submit" class="btn btn-success btn-block submit-btn" name="" value="Save">
                
                </form>
    
            </div>
        </div>
    </div>

    <section id="footer">
        <footer>
            <div class="footerContainer">
                <div class="socialIcons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-google-plus"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
    
                <div class="footerNav">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                        <li><a href="#team">Our Team</a></li>
                    </ul>
                </div>
    
            </div>
            <div class="footerBottom">
                <p>Copyright &copy;2023; Designed by <span class="designer">Helmet</span></p>
            </div>
        </footer>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/flash.js"></script>

</body>
{% block script %}{% endblock %}
</html>