<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Helmet App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="Logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
            </a>
        </div>
        <div class="Nav-links">
            <ul>
                <li><a href="/">Update</a></li>
                <li><a href="/disaster_watch">Disaster Watch</a></li>
                <li><a href="/statistics">Statistics</a></li>
            </ul>
        </div>
        <div class="filter-icon">
            <i class="fas fa-filter"></i>
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="script.js"></script>
</body>
</html>
