{% extends 'base.html' %}

{% block title %}Helmet App - Video News{% endblock %}

{% block content %}
<style>
  /* Center the news container */
  #news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
  }

  /* Style the video cards */
  .card {
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    overflow: hidden;
  }

  .card-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h1{
    margin-bottom: 50px;
    color: red;
  }
</style>
<h1>WORLD NEWS</h1>

<div id="news-container">
    <h1>WORLD NEWS</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    var apiKey = "AIzaSyAll_w8Jc3JmCpcSutLgV97v0i24obc9wA";
    var url = "https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=10&q=latest+news&type=video&key=" + apiKey;

    $.get(url, function(data) {
      var videos = data.items;
      var newsContainer = $("#news-container");

      $.each(videos, function(index, video) {
        var videoId = video.id.videoId;
        var videoTitle = video.snippet.title;

        var newsCard = $("<div>", { class: "card" });
        var newsCardBody = $("<div>", { class: "card-body" });
        var newsTitle = $("<h5>", { class: "card-title", text: videoTitle });
        var newsVideo = $("<div>", { class: "card-video" });
        var videoEmbed = $("<iframe>", {
          src: "https://www.youtube.com/embed/" + videoId,
          frameborder: "0",
          allowfullscreen: true
        });

        newsVideo.append(videoEmbed);
        newsCardBody.append(newsTitle, newsVideo);
        newsCard.append(newsCardBody);
        newsContainer.append(newsCard);
      });
    });
  });
</script>
{% endblock %}
