{% extends 'base.html' %}

{% block title %}Helmet App - Home{% endblock %}

{% block content %}
<section id="faq-homepage">

  <h2 class="title">FAQs</h2>
  <div class="faq">
    <div class="question">
      <h3>What is JavaScript ?</h3>

      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke-width="7" stroke-linecap="round"/>
      </svg>
    </div>

    <div class="answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quibusdam nisi unde sequi deleniti modi adipisci officiis, accusamus ducimus quam alias molestias, minima, beatae molestiae?
      </p>
    </div>
  </div>


  <div class="faq">
    <div class="question">
      <h3>What is JavaScript ?</h3>
  
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke-width="7" stroke-linecap="round" />
      </svg>
    </div>
  
    <div class="answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quibusdam nisi unde sequi deleniti modi adipisci
        officiis, accusamus ducimus quam alias molestias, minima, beatae molestiae?
      </p>
    </div>
  </div>


  <div class="faq">
    <div class="question">
      <h3>What is JavaScript ?</h3>
  
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke-width="7" stroke-linecap="round" />
      </svg>
    </div>
  
    <div class="answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quibusdam nisi unde sequi deleniti modi adipisci
        officiis, accusamus ducimus quam alias molestias, minima, beatae molestiae?
      </p>
    </div>
  </div>


  <div class="faq">
    <div class="question">
      <h3>What is JavaScript ?</h3>
  
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke-width="7" stroke-linecap="round" />
      </svg>
    </div>
  
    <div class="answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga quibusdam nisi unde sequi deleniti modi adipisci
        officiis, accusamus ducimus quam alias molestias, minima, beatae molestiae?
      </p>
    </div>
  </div>
</section>

<script src="/static/js/app.js"></script>
{% endblock %}