{% extends 'base.html' %}

{% block title %}Helmet App - Home{% endblock %}

{% block content %}
<section id="index-homepage">
    
    <div class="Left-side">
        <h1>Get Latest Information <br>
             On Problems <br> Across The Country
        </h1>
        
        <a href="/signup"><button>SIGN UP</button></a>
        <a href="{{ url_for('news') }}"><button>NEWS</button></a>
        <a href="{{ url_for('statistics') }}"><button>STATISTICS</button></a>
    </div>
    <div class="map">
        <img src="static\images\Map.png" alt="map">
    </div>
</section>
{% endblock %}
