{% extends 'author.html' %}

{% block title %}Helmet App - Report{% endblock %}

{% block content %}

<style type="text/css">
    body {
        padding-top: 150px;
    }

    .form-signup {
        margin: 0 auto;
        max-width: 400px;
        padding: 15px;
    }

    .form-signup h2 {
        text-align: center;
    }

    .submit-btn, .img-btn {
        background-color: black;
        max-width: 400px;
        width: 100%;
    }
    .img-btn{
        background-color: white;
    }
    .img-btn:hover{
        background-color: white;
    }

    .submit-btn:hover {
        background-color: rgba(0, 0, 0, 0.637);
    }

    input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<section id="homepage" class="report-home">
    <div class="signup_form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash">
                    {% for message in messages %}
                        <li class="flash-message">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h2>Report</h2>

        <form action="{{ url_for("report", username=author[2]) }}" method="post" enctype="multipart/form-data" class="form-signup">
            <!---Title--->
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title" required>
            </div>
        
            <!---location-->
            <div class="form-group">
                <input type="text" class="form-control" name="location" placeholder="Location" required>
            </div>
        
            <!---description-->
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description" required></textarea>
            </div>
        
            <!-- image -->
            <div class="form-group">
                <input type="file" class="form-control btn-success btn-block img-btn" name="file" value="Image" autocomplete="off" required>
            </div>
        
            <!---video link-->
            <div class="form-group">
                <input type="text" class="form-control" name="video" placeholder="Link to video">
            </div>
        
            <!--- Submit --->
            <input type="submit" class="btn btn-success btn-block submit-btn" name="" value="Log Report">
        
        </form>
        
        <div class="back">
            <a href="/author/{{author[2]}}">Back to home</a>
        </div>
    </div>
</section>

{% endblock %}