{% extends 'base.html' %}

{% block title %}Helmet App - Home{% endblock %}

{% block content %}
<section id="index-homepage">

  <div class="Left-side">
    <h1>Learn More About <br>
      The Sustainable <br> Development Goals
    </h1>
    <br>
    
    <div class="sdgs">
      <a href="#"><img src="/static/images/goal1.png" alt=""></a>
      <a href="#"><img src="/static/images/goal2.png" alt=""></a>
      <a href="#"><img src="/static/images/goal3.png" alt=""></a>
      <a href="#"><img src="/static/images/goal4.png" alt=""></a>
      <a href="#"><img src="/static/images/goal5.png" alt=""></a>
      <a href="#"><img src="/static/images/goal6.png" alt=""></a>
      <a href="#"><img src="/static/images/goal7.png" alt=""></a>
      <a href="#"><img src="/static/images/goal8.png" alt=""></a>
      <a href="#"><img src="/static/images/goal9.png" alt=""></a>
    </div>
    <br>
    <div class="sdgs">
      <a href="#"><img src="/static/images/goal10.png" alt=""></a>
      <a href="#"><img src="/static/images/goal11.png" alt=""></a>
      <a href="#"><img src="/static/images/goal12.png" alt=""></a>
      <a href="#"><img src="/static/images/goal13.png" alt=""></a>
      <a href="#"><img src="/static/images/goal14.png" alt=""></a>
      <a href="#"><img src="/static/images/goal15.png" alt=""></a>
      <a href="#"><img src="/static/images/goal16.png" alt=""></a>
      <a href="#"><img src="/static/images/goal17.png" alt=""></a>
    </div>

  </div>
  <div class="map">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wXASRXbjR08" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>

<section id="homepage">

  <div class="Left-side">
    <h1 class="do-you">Do you want to share peculiar
      problems in your community?
    </h1>

    <a href="/signup" class="join-us"><button class="join-us">JOIN US</button></a>
    
  </div>

</section>
{% endblock %}