{% extends 'base.html' %}

{% block title %}Helmet App - Update{% endblock %}

{% block content %}
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="static\images\g1.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>NO POVERTY</h2>
        <p>
            Eradicating poverty in all its forms remains one of the greatest challenges facing humanity. While the number of people living in extreme poverty dropped by more than half between 1990 and 2015, too many are still struggling for the most basic human needs.
        </p>
        <a href="https://www.undp.org/sustainable-development-goals/no-poverty?gclid=CjwKCAjw67ajBhAVEiwA2g_jEJw0b8KoVq505gxSi00KD7xxU64LsnieqbBMm1vVZma9ytApNIi6HhoCTXMQAvD_BwE" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="static\images\g2.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>ZERO HUNGER</h2>
        <p>
            The number of undernourished people has dropped by almost half in the past two decades because of rapid economic growth and increased agricultural productivity. Many developing countries that used to suffer from famine and hunger can now meet their nutritional needs. Central and East Asia, Latin America and the Caribbean have all made huge progress in eradicating extreme hunger.
        </p>
        <a href="https://www.undp.org/sustainable-development-goals/good-health?gclid=CjwKCAjw67ajBhAVEiwA2g_jEJw0b8KoVq505gxSi00KD7xxU64LsnieqbBMm1vVZma9ytApNIi6HhoCTXMQAvD_BwE" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Sustainable_Development_Goal_3.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>GOOD HEALTH AND WELL-BEING</h2>
        <p>
            We have made great progress against several leading causes of death and disease. Life expectancy has increased dramatically; infant and maternal mortality rates have declined, we’ve turned the tide on HIV and malaria deaths have halved.
        </p>
        <a href="https://www.undp.org/sustainable-development-goals/good-health?gclid=CjwKCAjw67ajBhAVEiwA2g_jEJw0b8KoVq505gxSi00KD7xxU64LsnieqbBMm1vVZma9ytApNIi6HhoCTXMQAvD_BwE" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>

{% endblock %}