{% extends 'base.html' %}

{% block title %}Helmet App - Sign in{% endblock %}

{% block content %}

<section id="homepage">

    <div class="signin_form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div>
            <h1>Sign in</h1>
        </div>

        <form action="{{ url_for("signin") }}" method="post">
            <!--- username --->
            <div class="fill">
                <label for="username" class="label">Username</label>
                <input type="text" name="username" class="input">
            </div>

            <!--- Password --->
            <div class="fill">
                <label for="password" class="label">Password</label>
                <input type="password" name="password" class="input">
            </div>
        
            <!--- Submit --->
            <div class="submit">
                <button type="submit" class="button">Sign in</button>
            </div>
        </form>

        <div class="create_account">
            <p>Do not have an account?</p>
            <a href="/signup">Create new account</a>
        </div>
    </div>

</section>

{% endblock %}