<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <title>login</title>
</head>
<body>
    <body>
        <div class="all">
            {% if message|length %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{message}}
                </div>
            {% endif %}
            <div class="logo-container">
                <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo">
            </div>
            <form action="{{ url_for('auth.login') }}" method="post">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="btn">Login</button>
            </form>
              
    
            <p>Don't have an account? <a href="{{ url_for('auth.sign_up') }}">Sign up</a></p>
        </div>
    </body>
    
</body>
</html>
